.background-images {
    width: 40%;
    height: 400px;
    border: 20px double black;
    padding: 40px;
    background-image: url("images/logo.jpg"), url("images/icon.png"), url("images/footer.jpg");
    background-position: left center, top center, left bottom;
    background-repeat: no-repeat, repeat-y, no-repeat;
    -moz-background-size: 10%;
    -webkit-background-size: 10%;
    -o-background-size: 10%;
    background-size: 10%;
    -webkit-background-origin: content-box, border-box, padding-box;
    -moz-background-origin: content-box, border-box, padding-box;
    background-origin: content-box, border-box, padding-box;
}

.back-img {
    display: inline-block;
    min-width: 363px;
    min-height: 367px;
    padding: 40px;
    background-size: cover;
    box-sizing: border-box;
    border: 20px solid rgba(13, 11, 78, 0.5);
    background-image: url("images/logo.jpg");
    background-repeat: no-repeat;
}

.back-img1 {
    -webkit-background-origin: content-box;
    -moz-background-origin: content-box;
    background-origin: content-box;
}

.back-img2 {
    -webkit-background-origin: padding-box;
    -moz-background-origin: padding-box;
    background-origin: padding-box;
}

.back-img3 {
    -webkit-background-origin: border-box;
    -moz-background-origin: border-box;
    background-origin: border-box;
}

/* latin */
@font-face {
    font-family: 'Tangerine';
    font-style: normal;
    font-weight: 400;
    src: local('Tangerine Regular'), local('Tangerine-Regular'), url(https://fonts.gstatic.com/s/tangerine/v9/IurY6Y5j_oScZZow4VOxCZZM.woff2) format('woff2');
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("images/background2.jpg");
    background-position: center;
    min-height: 200px;
    color: black;
    text-shadow: 2px 15px 10px blue;
    font-size: 2em;
    font-family: "Tangerine", sans-serif;
}

.special-header {
    text-shadow: darkred 1px 1px 2px;
    text-align: center;
}

.advices {
    display: block;
}

/*
png jest bezstratny, jpg też można wstawić bez utraty, ale domyślnie są ustawione na stratę, png ma tło przeźroczyste,
kiedy kontrasty są duże to png,
*/

img.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.box:nth-last-child(even):active, .box:nth-last-child(odd):hover {
    box-shadow: 3px 3px rgba(66, 108, 104, 0.91), -1em 0 0.4em hsla(246, 24%, 34%, 0.91);
}

/*11. Flexible Box Layout Module*/
.flex-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    min-height: 200px;
}

.flex-boxes .box {
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    flex: 1;
    overflow: auto;
    min-width: 100px;
}

.box:hover {
    flex-grow: 1.5;
}

.box:nth-child(odd):hover {
    background-color: hsla(0, 24%, 34%, 0.91);
}

.box:nth-child(2n):hover {
    background-color: hsla(0, 24%, 34%, 0.91);
}

.box:last-child:hover {
    background-color: rgba(41, 96, 133, 0.91);
}

.box:first-child {
    box-shadow: inset 0 0 15px gold;
}

/*2. border-radius dla bloku <div>*/
.radius-example {
    margin: 0 auto;
    width: 30%;
    height: 30%;
    background-color: aquamarine;
}

.box:first-child:hover {
    background-color: hsla(328, 100%, 78%, 0.91);
}

.radius-1 {
    border-radius: 10px 20px 40px 80px;
}

.radius-2 {
    border-radius: 10px 40px 80px;
}

.radius-3 {
    border-radius: 10px 30px;
}

.radius-4 {
    border-radius: 70%;
}

.radius-5 {
    border-radius: 30%;
}

/*12. publikowanie wielokolumnowe - column-count, column-gap, column-rule*/
.column-boxes {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 10px dotted #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 10px dotted #ff00ff; /* Firefox */
    column-rule: 10px dotted #ff00ff;
}

/*13. @media dla kolumn*/
@media screen and (max-width: 768px) {
    .column-boxes {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media screen and (max-width: 400px) {
    .column-boxes {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

.column-boxes .box {
    text-align: center;
}

.main-section > a:visited {
    color: green;
}